pydantic
fastapi[all]
uvicorn[standard]
python-jose[cryptography]
bcrypt
passlib[bcrypt]
fastapi-jwt-auth[asymmetric]
python-multipart
certifi
python-dateutil
# psycopg2-binary
asyncpg
sqlalchemy[asyncio]